html {
    font-size: 16px;
}

body {
    /*background: #f3f3f3;*/
    background: linear-gradient(120deg, #07CEB8 0, #4fd8c9 30%,#2291F1 70%, #4c7da7 100%);
}

@font-face {
    font-family: 'taotao';
    src: url('../fonts/taotao.eot');
    src: url('../fonts/taotao.eot?#iefix') format('embedded-opentype'), url('../fonts/taotao.woff') format('woff'), url('../fonts/taotao.ttf') format('ttf'), url('../fonts/taotao.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dingding';
    src: url('../fonts/dingding.eot');
    src: url('../fonts/dingding.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/dingding.woff') format('woff'), 
    url('../fonts/dingding.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ldodo';
    src: url('../fonts/ldodo.gif');
    src: url('../fonts/ldodo.bmp') format('woff'), 
    url('../fonts/ldodo.jpg') format('truetype'), 
    url('#TianZhen') format('svg');
}

.cssb8a14be5819800 {
    font-family: 'TianZhenb8a14be5819800';
}

.hide {
    display: none !important;
}

.footer {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
}

.footer .logo {
    width: 30px;
    height: 30px;
    background: url('../img/github.png') no-repeat;
    display: inline-block;
    background-size: 100%;
    background-position: center;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.rtc__component{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.rtc__component .item{
    width: 200px;
    height: 200px;
    display: inline-block;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    /* display: flex; */
    box-sizing: border-box;
    padding: 80px 0;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.rtc__component .item:hover{
    background: rgba(255, 192, 203, 0.7);
    color: #fff;
}