.btn{
    font-size: 18px;
    background: red;
    padding: 10px;
    cursor: pointer;
}
.img{
    width: 320px;
    height: 240px;
    background: lightgreen;  
}
video{
    /*-webkit-filter: blur(4px) invert(1) opacity(0.5);*/
}

/* 额外的输入设备样式 */
.additional-inputs{
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: right;
}
.additional-inputs .item{
    display: inline-block;
    font-size: 0.9rem;
    background: red;
    color: #fff;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;

}