.btn{
    font-size: 18px;
    background: red;
    padding: 10px;
    cursor: pointer;
}
.img{
    width: 320px;
    height: 240px;
    background: lightgreen;  
}
video{
    /*-webkit-filter: blur(4px) invert(1) opacity(0.5);*/
}