 
    <!-- common monitor -->
    <input type="hidden" id="commonMonitor" value='{"channel":"<%- config.rootPath %>","page":"<%= pageName %>", "whiteList":"10.1|localhost|sojump.com", "removeError":true}' />
    
    
    <!-- lib js-->
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>

    <!--common js-->
    <script src="<%- commons.js %>"></script>
    <!--page js-->
    <script src="<%- pageJs %>"></script>

    <!--<- staticPaths.js %>-->
    <script src="<%- config.frontURL.js %>footer.js"></script>
</body>
</html>