 
    <!-- 公共前端性能监控脚本 -->
    <input type="hidden" id="commonMonitor" value='{"channel":"<%- config.rootPath %>","page":"<%= pageName %>", "whiteList":"10.1|localhost|sojump.com", "removeError":true}' />
    
    <!--公共的js-->
    <!--<- commons.js %>-->

    <!--component render-->    
    
    <!--本页面js-->
    <!--<- staticPaths.js %>-->
    <script>
        function bigpipe(id, content){
            var dom = document.querySelector('component[name='+id+']');
            var el = document.createElement("div");
            content = content.replace(/\/\//gi, '/');
            el.innerHTML = content;//赋值以后其实objE已经具有DOM的对象了

            dom.replaceWith(el);
            var sdom = document.querySelector('#componet_'+id);
            sdom.remove()
        }
    </script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</body>
</html>