 
    <!-- common monitor -->
    <input type="hidden" id="commonMonitor" value='{"channel":"<%- config.rootPath %>","page":"<%= pageName %>", "whiteList":"10.1|localhost|sojump.com", "removeError":true}' />
    
    <!--common js-->
    <script src="<%- commons.js %>"></script>

    <!--component render-->

    <!-- basic js-->
    <script src="<%- '//' + config.ip + ':8090/js/zdodo.js' %>"></script>

    <!--page js-->
    <script src="<%- pageJs %>"></script>

    <script>
        function bigpipe(id, content){
            var dom = document.querySelector('component[name='+id+']');
            var el = document.createElement("div");
　　         el.innerHTML = content;//赋值以后其实el已经具有DOM的对象了
            dom.replaceWith(el);
            var sdom = document.querySelector('#componet_'+id);
            sdom.remove()
        }
    </script>
</body>
</html>