<!-- common headers-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="applicable-device" content="mobile">
    <meta name='keywords' content="<%- state.keywords %>" />
    <meta name='description' content="<%- state.description %>" />
    <meta name="wap-font-scale" content="no">

    <!--公共css-->
    <!--<link rel="stylesheet" href="<= commons.css %>">-->

    <!--本页面的css-->
    <!--<link rel="stylesheet" href="<= staticPaths.css %>">-->

    <title><%= title %></title>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>

    <script type="text/javascript">
        var appName = '<%= config.appName %>'
        var pageName = '<%= pageName %>' || window.location.href;
        var platform = "h5";
        var catcherEnvironment = '<%= config.environment %>';
        var environment = catcherEnvironment;
        var pre_url = environment == 'test' ? '<%= config.rootPath %>' : '/koa';
        var pre_interurl = '<%= config.interUrl %>';  
        var monitorUrl = '<%= config.monitorUrl %>'
    </script>
    <script>
        (function() {

            var option = {
                cache: false,
                jsonpCallback: "handler",
            }

            function Ajax(type) {
                // console.log(arguments);

                var tmp = {
                    type: arguments[0],
                    dataType: arguments[0] == 'jsonp' ? 'jsonp' : 'json'
                };
                return function(url, para, cb, err) {
                    $.extend(option, tmp, {
                        success: function(res) {
                            cb && cb(res, para);
                        },
                        error: function(e) {
                            alert(JSON.stringify(e));
                            err && err(e);
                        }
                    });
                    option.url = url;
                    option.data = para ? para : '';
                    $.ajax(option);
                }
            }

            window.ajax =  {
                json       : new Ajax('get'),
                jsonp      : new Ajax('get'),
                post       : new Ajax('post','jsonp'),
                postp      : new Ajax('post','jsonp')
            };
        })();
        var ERROR = {
            logtype:'exception',
            appname: appName,
            pagename: pageName,
            log: 'test',
            address: '10.1.1.1',
            platform: navigator.platform +':'+ navigator.userAgent.match(/\s\w+\/\d+/g)[1]
        };
        window.onerror = function (errorMessage, scriptURI, lineNumber, columnNumber, errorObj) {
            var info = "错误信息：" + errorMessage + "</br>" +
                    "出错文件：" + scriptURI + "</br> " +
                    "出错行号：" + lineNumber + "</br>" +
                    "出错列号：" + columnNumber + "</br>" +
                    "错误详情：" + errorObj + "</br></br>";
            // alert(JSON.stringify(info));
            ERROR.log = info;
            // alert(JSON.stringify(ERROR));
            // ajax.postp(monitorUrl, ERROR, null, function(e){
            //     alert(e.stack);
            // });

            try{
                ajax.postp(monitorUrl1, ERROR);
            }catch(e){
                // console.log(e.stack);
                alert(JSON.stringify(e));
            }
            
        }
        // var a = b+1;
        function bigpipe(id, content){
            var dom = document.querySelector('component[name='+id+']');
            var el = document.createElement("div");

　　         el.innerHTML = content;//赋值以后其实objE已经具有DOM的对象了

            dom.replaceWith(el.childNodes[0]);
            var sdom = document.querySelector('#componet_'+id);
            sdom.remove()
        }
        
        ajax.postp(monitorUrl, ERROR, function(){
            alert('sended');
        },function(e){
            alert(e.stack);
        });
    </script>
</head>
<body class="<%= state.bodyClass %>" onselectstart="return false;">
    <!-- 公共页头部  -->

    <!-- 公告模块 -->
    <div id="publicNotice" data-channel="xxx"></div>