<!-- common headers-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="applicable-device" content="mobile">
    <meta name='keywords' content="<%- state.keywords %>" />
    <meta name='description' content="<%- state.description %>" />
    <meta name="wap-font-scale" content="no">

    <!--公共css-->
    <!--<link rel="stylesheet" href="<= commons.css %>">-->

    <!--本页面的css-->
    <!--<link rel="stylesheet" href="<= staticPaths.css %>">-->

    <title><%= title %></title>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>

    <script type="text/javascript">
        var appName = '<%= config.appName %>'
        var pageName = '<%= pageName %>' || window.location.href;
        var platform = "h5";
        var catcherEnvironment = '<%= config.environment %>';
        var environment = catcherEnvironment;
        var pre_url = environment == 'test' ? '<%= config.rootPath %>' : '/koa';
        var pre_interurl = '<%= config.interUrl %>';  
        var monitorUrl = '<%= config.monitorUrl %>'
    </script>
    <script src="//localhost:8090/js/header.js"></script>
</head>
<body class="<%= state.bodyClass %>" onselectstart="return false;">
    <!-- 公共页头部  -->

    <!-- 公告模块 -->
    <div id="publicNotice" data-channel="xxx"></div>