<% include ../layout/header.html %>
    <video src="" id='rtc'></video>
    <a class="btn" id='snapshot'>snapshot</a>
    <img id="img" class="img">

    <script src="../js/webrtc.js"></script>
<% include ../layout/footer.html %>