<% include ../layout/header.html %>
    <component name="a"></component>
    <component name="b"></component>
    <component name="c"></component>
    <component name="d"></component>
    <div id="content">loading</div>
<% include ../layout/footer.html %>