<% include ../layout/header.html %>
    <div class="test"></div>
    <div class="box">
        <canvas class="canvas"></canvas>
        <div class="label"></div>
        
    </div>
    <div class="btn-option">
        <a class="btn btn-green J-btn-upload">点击上传</a>
        <a class="btn btn-warnning J-btn-camera">拍照</a>
        <input type="file" class=" upload J-upload" placeholder="选择图片">
    </div>
    <script src="//cdn.bootcss.com/hammer.js/2.0.8/hammer.js"></script>
<% include ../layout/footer.html %>
