<% include ../layout/header.html %>

    <div class="box">
        <canvas class="canvas"></canvas>
        <input type="file" class="upload J-upload" placeholder="选择图片">
    </div>

<% include ../layout/footer.html %>