<!-- common headers-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="applicable-device" content="mobile">
    <meta name='keywords' content="<%- state.keywords %>" />
    <meta name='description' content="<%- state.description %>" />
    <meta name="wap-font-scale" content="no">

    <!--公共css-->
    <!--<link rel="stylesheet" href="<= commons.css %>">-->

    <!--本页面的css-->
    <!--<link rel="stylesheet" href="<= staticPaths.css %>">-->

    <title>web rtc demo</title>
    <style>
        .btn{
            font-size: 18px;
            background: red;
            padding: 10px;
            cursor: pointer;
        }
        .img{
            width: 320px;
            height: 240px;
            background: lightgreen;  
        }
        video{
            -webkit-filter: blur(4px) invert(1) opacity(0.5);
        }
    </style>
</head>
<body>
    <video src="" id='rtc'></video>
    <a class="btn" id='snapshot'>snapshot</a>
    <img id="img" class="img">

    
    <script src="/js/header.js"></script>
    
</head>
<body>
    <video src="" id='rtc'></video>

    <script src="../js/webrtc.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>